#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.message {
  border-radius: 5px;
  padding: 0.5em;
  --message-color-ai: #d9dede;
  --message-color-user: #f95738;
}

.message.ai {
  margin-right: 2em;
  background-color: var(--message-color-ai);
}

.message.user {
  margin-left: 2em;
  background-color: var(--message-color-user);
  color: white;
}

.input-form {
  display: flex;
  margin-top: 2rem; /* Optional: adds space above the form */
}

.input-form input[type="text"] {
  margin-right: 1rem;
  flex-grow: 1;
  line-height: 2;
}
