@import "tailwindcss";

body {
  min-height: 100vh;
  background-color: rgb(15 23 42);
  color: rgb(241 245 249);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
}
